* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: black;
  height: 100vh;
  color: greenyellow;
}
p {
  font-size: 60px;
  font-weight: 700;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 150px;
  margin-top: 75px;
}
.control {
  position: absolute;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: aqua;
  right: 44.5%;
}
.corner {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(192, 71, 134);
  width: 40%;
  height: 150px;
}
.start {
  top: 500px;
  cursor: pointer;
}
.stop {
  top: 250px;
}
.backHome {
  position: absolute;
  bottom: 39.65%;
  left: 45.65%;
  background-color: azure;
  width: 150px;
  height: 25px;
  text-decoration: none;
  text-align: center;
  border-radius: 3px;
}
.pop-up {
  background-color: greenyellow;
  color: black;
}
.start:hover {
  background-color: blueviolet;
}
.start:active {
  background-color: greenyellow;
}
.stop:hover {
  background-color: rgb(194, 50, 50);
}
